*, *::after, *::before { box-sizing: border-box; }

.task { display: flex; flex-direction: row; gap: 1rem; align-items: baseline }
.task { font-size: 1rem }
.task > * { font-size: inherit; font-weight: normal }
.task > .title { order: 1; font-weight: normal }
.task > .description { order: 2; font-weight: bold }
.task > .complete { order: 3 }