{% extends "base.html.j2" %}
{% block title %}{{ title }} — My Todo List{% endblock %}
{% block header %}
    <header>
        <h1>My Todo List</h1>
    </header>
{% endblock %}

{% block main %}
    <main>
        {% for task in tasks %}
        <article class="task">
            <h2 class="title">{{ task.title }}</h2>
            <h3 class="complete">{{ "complete" if task.done else "outstanding" }}</h3>
            <p class="description">{{ task.description }}</p>
        </article>
        {% endfor %}
    </main>
{% endblock %}