<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>{{ title }} — My Todo List</title>
</head>
<body>
    <header>
        <h1>My Todo List</h1>
    </header>

    <main>
        {% for task in tasks %}
        <article class="task">
            <h2 class="title">{{ task.title }}</h2>
            <h3 class="complete">{{ "complete" if task.done else "outstanding" }}</h3>
            <p class="description">{{ task.description }}</p>
        </article>
        {% endfor %}
    </main>
</body>
</html>